.title-h1 {
  margin-bottom: 2rem;
  font-size: 3.4rem;
  text-shadow: 0.1rem 0.1rem 0.2rem rgba(0, 0, 0, 0.2);
}

.search-sort-container {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  margin-bottom: 2rem;
  padding: 2rem 2rem;
  width: 90%;
}

.btn-sort,
.btn-search {
  cursor: pointer;
  border-style: none;
  background-color: #91bfff;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
}

.btn-sort:hover,
.btn-search:hover {
  color: #fff;
  background-color: #6fa9ff;
}

.btn-sort {
  border-radius: 1.2rem;
  padding: 0.5rem 0.9rem;
  width: 10rem;
  font-size: 2rem;
  font-weight: 300;
}

.btn-search {
  padding: 1.2rem;
  border-radius: 50%;
}

.search-container {
  display: flex;
  flex-flow: row;
  gap: 1rem;
  width: 60%;
}

#searchInput {
  padding: 0.8rem 1.2rem;
  border: none;
  border-radius: 1rem;
  width: 100%;
}

.table-container {
  display: flex;
  width: 90%;
  overflow-x: auto;
}

table {
  min-width: 100%;
  text-align: center;
  align-items: center;
  border-collapse: collapse;
  background: linear-gradient(130deg, #9ca1d8, #7178c8);
  color: #fff;
  box-shadow: 0 0 0.5rem 0.2rem rgba(0, 0, 0, 0.1);

  th,
  td {
    line-height: 1.4;
    padding: 1.2rem;
  }

  td {
    border-top: 0.1rem solid rgba(220, 220, 220, 0.516);
  }

  thead {
    background: rgba(255, 255, 255, 0.45);
    color: rgb(7, 65, 104);
  }

  tr {
    border-radius: 1rem;
  }

  .td-item {
    width: 70%;
    text-align: center;
    border-left: 0.1rem solid rgba(220, 220, 220, 0.516);
    border-right: 0.1rem solid rgba(220, 220, 220, 0.516);
  }

  .td-actions {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
  }

  .btn-edit-item,
  .btn-remove-item {
    width: 3rem;
    height: 3rem;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 0.5rem 0.8rem;
  }

  .btn-remove-item {
    color: #fff;
    background: rgb(202, 84, 84);
  }
  .btn-edit-item {
    background: rgb(206, 147, 225);
  }

  .btn-edit-item:hover {
    font-weight: bold;
    background-color: rgb(233, 168, 255);
  }
  .btn-remove-item:hover {
    font-weight: bold;
    background-color: rgb(255, 0, 0);
  }
}

/* Centraliza o modal na tela */
dialog {
  border: none;
  border-radius: 1.5rem;
  background-color: #ffffff;
  margin: auto;
  padding: 3rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

/* O formulário do modal vai herdar o mesmo estilo do form original */
#editForm,
#editForm .input-container {
  display: flex;
  flex-direction: column;
}

#editForm {
  min-width: 80rem;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem;
}

#editForm .input-container {
  width: 100%;
  gap: 1rem;
}

#editForm fieldset {
  display: flex;
  gap: 1.5rem;
  width: 100%;
  border: none;
}

#editForm .btn-container {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

#editForm .btn-add {
  padding: 0.8rem 3rem;
  cursor: pointer;
  border-style: none;
  border-radius: 1rem;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  font-weight: 600;
  background-color: rgba(106, 184, 208, 0.632);
}

#editForm .btn-add:hover {
  background-color: rgb(47, 178, 218);
  color: #fff;
}

#editForm .btn-cancel {
  padding: 0.8rem 3rem;
  cursor: pointer;
  border-style: none;
  border-radius: 1rem;
  background-color: #b1b2b3;
  transition: background-color 0.2s ease-in, color 0.2s ease-in;
  font-weight: 600;
}

#editForm .btn-cancel:hover {
  background-color: #828283;
  color: #fff;
}

@media (max-width: 500px) {
  main {
    padding: 1rem;
  }

  .search-sort-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 95%;
  }

  .table-container {
    width: 95%;
  }

  .search-container {
    width: 100%;
  }

  #editModal {
    min-width: 95%;
    padding: 2rem;
  }

  #editForm {
    min-width: 100%;
    padding: 2rem 1.5rem;
  }

  fieldset {
    flex-direction: column;
  }
}

@media (max-width: 880px) {
  .search-sort-container {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 90%;
  }

  .search-container {
    width: 100%;
  }

  #editModal {
    min-width: 95%;
    padding: 2rem;
  }

  #editForm {
    min-width: 100%;
    padding: 2rem 1.5rem;
  }
}
