/* 
#4c92ff
#6fa9ff
#91bfff
#a3c9ff
#b5d3ff
#accffd
#c1dbfe
#d6e7fe
#eaf3ff
#f5f9ff
#ffffff 
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  /* display: flex;
  flex-flow: column; */
  min-height: 100svh;
  min-width: 100%;
  font-family: "Montserrat", sans-serif;
}

h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2rem;
}

h1,
h2 {
  color: #304d75;
}

p,
a,
label,
li,
thead,
tbody {
  font-size: 1.4rem;
}
